.container{
    width: 1100px;
    height: 1000px;
    background-color: white;
    

}
.class A1{
    font size:  20px;

}
.class A2{
    font size:  20px;
    padding: 10px;
    font weight: bold;
    
}